# Copyright (C) 2019-present Arctic Ice Studio <development@arcticicestudio.com>
# Copyright (C) 2019-present Sven Greb <development@svengreb.de>
#
# Project:    Arctic
# Repository: https://github.com/arcticicestudio/arctic
# License:    MIT

# Disable the creation of the `package-lock.json` file in order to prevent conflicts with the `yarn.lock` file.
# See https://docs.npmjs.com/files/package-lock.json and https://yarnpkg.com/lang/en/docs/yarn-lock
package-lock=false

# Automatically pin dependencies to exact versions instead of resolving to latest minor and patch updates.
# This prevents possible errors caused by updated transitive dependencies.
# See https://docs.npmjs.com/misc/config#save-exact
save-exact=true
