# Copyright (C) 2019-present Arctic Ice Studio <development@arcticicestudio.com>
# Copyright (C) 2019-present Sven Greb <development@svengreb.de>
#
# Project:    Arctic
# Repository: https://github.com/arcticicestudio/arctic
# License:    MIT

# See https://prettier.io/docs/en/ignore.html for details.

**/.cache/*
**/build/*
**/node_modules/*
**/public/*
**/static/*
